*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img{
    
}

body{
    background-color: #E6E6FA;

}

.section-geral{
    display: flex;
    background-color: bisque;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15rem;
    max-height: 100vh;
    
}

.cabecalho{
    text-align: center;
    background-color: coral;
    box-shadow: 10px;
}